//
// styles for demo/example index.html associated with the skeleton-grid
//
// see: https://github.com/ngn33r/skeleton-grid-scss
//

// some colors
$hard-lime: rgb(0, 255, 51);
$limon: rgb(180, 255, 103);
$limon-lite: lighten($limon, 22);
$limon-like: rgba($limon, .55);
$lemon: rgb(255, 244, 79);
$lemon-lite: lighten($lemon, 22);
$lemon-like: rgba($lemon, .55);
$pinkie: rgb(255, 105, 180);
$pinkie-like: rgba($pinkie, .55);
$pinkie-lite: lighten($pinkie, 22);
$peachie: rgb(255, 229, 204);
$peachie-like: rgba($peachie, .55);
$peachie-lite: lighten($peachie, 2);